.nav-link__active {
  color: #BF282E;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    top: -10px;
    height: 1px ;
    background: #BF282E;
  }
}

.burger-menu{
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.2);
  transition: 0.3s;
}

.offer {
  background: url("/public/offer/Rectangle 102.png");
}

.partnership{
  background: url("/public/partnership/Rectangle 103.png");
}

@media screen and (max-width: 1024px){
  .become-partner {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a {
      margin-top: 8px;
    }
  }
}
